/* Geral */
* {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
  }
  
  body {
    background: linear-gradient(180deg, rgba(89, 76, 238, 1) 0%, #f5ba8d 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: center;
    background-size: cover;
  }
  
  .container {
    background-color: #5459ed;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
    color: #fdfdfd;
    border-radius: 1rem;
    max-width: 400px;
  }
  
  .form {
    display: flex;
  }
  
  .form input {
    padding: 0.8rem;
    border: none;
    flex: 1;
    border-radius: 4px;
  }
  
  .form button {
    padding: 0.8rem;
    min-width: 50px;
    margin-left: 8px;
    background-color: #350958;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .weather-data {
    border-top: 1px solid #fff;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
  }
  
  .weather-data h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
  }
  
  .description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.6rem 0;
  }
  
  .description {
    text-transform: capitalize;
  }
  
  .details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .temperature {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  .informations {
    margin: 5px;
  }